<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" routerLink="/" routerDirection="back"></ion-back-button>
    </ion-buttons>
    <ion-title>Recette pour {{recipe?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="{{recipe?.picture}}" />
  <div class="recipe-details">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="recipe-kcal">
            {{ recipe?.calories }}
          </div>
          Nombre de calories
        </ion-col>
        <ion-col>
          <div class="recipe-time">
            <div>{{recipe?.time}}</div>
            Minutes
          </div>
        </ion-col>
      </ion-row>
      <br>
      <div *ngIf="recipe?.ingredients != null && recipe?.ingredients.length >= 1; else noingredient">
        Ingrédient(s) nécessaire(s) pour faire ce plat:
        <ul>
        <li *ngFor="let ingredient of recipe?.ingredients">{{ingredient.name}}</li>
        </ul>
      </div>
      <ng-template #noingredient>
        <div> Pas d'ingrédient mentionné pour ce plat.</div>
      </ng-template>
    </ion-grid>
  </div>
</ion-content>
