<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" routerLink="/" routerDirection="back"></ion-back-button>
    </ion-buttons>
    <ion-title>Recette pour {{recipe?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="{{recipe?.pic}}" />
  <div class="recipe-details">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="recipe-kcal">
            {{ recipe?.kcal }}
          </div>
          Nombre de calories
        </ion-col>
        <ion-col>
          <div class="recipe-time">
            <div>{{recipe?.time}}</div>
            Minutes
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
