<ion-header>
  <ion-toolbar>
      <ion-title>
      Tasty Cooking
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let recipe of data.recipes" (click)="goToSelectedReceipe(recipe.id)">
            <ion-label>{{recipe.title}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-button expand="block">Ajouter une recette</ion-button>
 <!-- <ion-list>
      <ion-item *ngFor="let recipe of data.recipes.result.resources" (click)="goToSelectedReceipe(recipe)">
        <ion-thumbnail slot="start">
          <img src="{{recipe.picture_url}}">
        </ion-thumbnail>
        <ion-label>{{recipe.name}}</ion-label>
      </ion-item>
  </ion-list>-->
  <!--
  <ion-card (click)="gotocontact()">
    <ion-card-content>
      <p>Recette 1</p>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="gotocontact()">
    <ion-card-content>
      <p>Recette 2</p>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="gotocontact()">
    <ion-card-content>
      <p>Recette 3</p>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="gotocontact()">
    <ion-card-content>
      <p>Recette 4</p>
    </ion-card-content>
  </ion-card>
  <ion-icon name="book" (click)="gotocontact()">Contact</ion-icon>-->
</ion-content>



