<ion-header>
  <ion-toolbar>
    <ion-title>
      Tasty Cooking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>Item Thumbnail</ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>Item Thumbnail</ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>Item Thumbnail</ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>Item Thumbnail</ion-label>
      </ion-item>
      <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>Item Thumbnail</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>Item Thumbnail</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>Item Thumbnail</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>Item Thumbnail</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>Item Thumbnail</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>Item Thumbnail</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>Item Thumbnail</ion-label>
    </ion-item>

  </ion-list>
  <!--
  <ion-card (click)="gotocontact()">
    <ion-card-content>
      <p>Recette 1</p>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="gotocontact()">
    <ion-card-content>
      <p>Recette 2</p>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="gotocontact()">
    <ion-card-content>
      <p>Recette 3</p>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="gotocontact()">
    <ion-card-content>
      <p>Recette 4</p>
    </ion-card-content>
  </ion-card>
  <ion-icon name="book" (click)="gotocontact()">Contact</ion-icon>-->
</ion-content>



