<ion-header>
  <ion-toolbar>
    <ion-title>
      Tasty Cooking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="gotocontact()">
    <ion-card-content>
      <p>Recette 1</p>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="gotocontact()">
    <ion-card-content>
      <p>Recette 2</p>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="gotocontact()">
    <ion-card-content>
      <p>Recette 3</p>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="gotocontact()">
    <ion-card-content>
      <p>Recette 4</p>
    </ion-card-content>
  </ion-card>
  <!--<ion-icon name="book" (click)="gotocontact()">Contact</ion-icon>-->
</ion-content>

<ion-footer translucent="true">
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
